@import "../../dx-styles.scss";
@import "../../themes/generated/variables.additional.scss";

.side-navigation-menu {
  display: compact;
  //background-color: #4B4F52;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 313px !important;
  background: url("../../assets/img/menu_back.jpg") no-repeat #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  .menu-container {
    display: flex;
    flex: 1;
    //overflow: auto;
    height: 100%;
    .dx-treeview {
      // ## Long text positioning
      font-size: small;
      white-space: nowrap;
      padding-left: 0px;
      padding-right: 0px;
      overflow: visible !important;

      // ##

      // ## Icon width customization
      .dx-treeview-item {

        padding-left: 0px;
        padding-right: 0px;

        .dx-icon {
          width: $side-panel-min-width !important;
          margin: 0 !important;
          width:35px !important;
        }
      }
      // ##
      
      // ## Arrow customization
      .dx-treeview-node {
        padding: 0 0 !important;
      }

      .dx-treeview-toggle-item-visibility {
        right: 0px;
        left: auto;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 1px;
        right: auto;
      }
      // ##

      // ## Item levels customization
      .dx-treeview-node {
        &[aria-level='1'] {
          font-weight: normal;
          border-bottom: 0px solid $base-border-color;
        }
  
        &[aria-level='2'] .dx-treeview-item-content {
          font-weight: normal;
          padding: 0 $side-panel-min-width;
        }
      }
      // ##
    }

    // ## Selected & Focuced items customization
    .dx-treeview {
      .dx-treeview-node-container {
        .dx-treeview-node {
          &.dx-state-selected:not(.dx-state-focused)> .dx-treeview-item {
            background: transparent;
          }

          &.dx-state-selected > .dx-treeview-item * {
            color: $base-accent;
          }

          &:not(.dx-state-focused)>.dx-treeview-item.dx-state-hover {
            background-color: lighten($base-bg, 4.00);
          }
        }
      }
    }

    .dx-theme-generic .dx-treeview {
      .dx-treeview-node-container .dx-treeview-node.dx-state-selected.dx-state-focused > .dx-treeview-item * {
        color: inherit;
      }
    }
    // ##
  }
}

.dx-drawer-overlap.pre-init-blink-fix {
  @import "../../utils/patches.scss";
  @include menu-pre-init-patch;
}

.dx-drawer-content{
    padding-right: 0px !important;
}