.dx-date-picker {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
  height: fit-content;
  width: 200px;
  //background-color: white;
  color: rgba(92,92,92,0.02);
  //position: relative;
  //z-Index: 20000;
}

.dx-singleCard{

  //position: absolute;
  z-index: 1501;
}