@import "../../themes/generated/variables.base.scss";
@import "../../dx-styles.scss";

.header-component {
  flex: 0 0 auto;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  .dx-toolbar .dx-toolbar-item.menu-button>.dx-toolbar-item-content .dx-icon {
    color: $base-accent;
  }
}
.dx-icon-menuI
{
  background-image: url('../../assets/icon/menu-icon.png');
}

.dx-state-disabled .dx-icon-menuI
{

  background-image: url('../../assets/icon/menu-icon.png')    ;


}
.header{
  background-color: #5E5E5E;
}
.header-toolbar {
  background: url("../../assets/img/BankMellat.png") no-repeat;
  height: 41px;
  width: 200px;
  .dx-icon {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.87);
    margin-right: 16px;
  }
}
.dx-icon {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 16px;
}
.menu-toggle {
  background-color: $base-accent;
  color: white;
}
.dx-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0 0px;

  .screen-x-small & {
    padding: 0 0px;
  }
}


.dx-toolbar .dx-toolbar-item.dx-toolbar-button.menu-button {
  width: $side-panel-min-width;
  text-align: center;
  padding: 0;
}
.menu-button {

  width: $side-panel-min-width;
  text-align: center;
  padding: 0;
  //color: white;
}

.header-title .dx-item-content {
  padding: 0;
  margin: 0;
  color: #eaeaea;
  font-size: 15px;
}

.dx-theme-generic {
  .dx-toolbar {
    padding: 10px 0;
  }

  .user-button>.dx-button-content {
    padding: 3px;
    color: white;
  }

  .user-info {
    display: flex;
    align-items: center;

    .dx-toolbar-menu-section & {
      padding: 10px 6px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .image-container {
      overflow: hidden;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      margin: 0 4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 3px rgba(0,0,0,0.15);

      .user-image {
        width: 100%;
        height: 100%;
        background: url("../../assets/img/shahria_a.png") no-repeat #fff;
        background-size: cover;
      }
    }

    .user-name {
      font-size: 14px;
      //color: $base-text-color;
      color: rgba(0, 0, 0, 0.87);
      margin: 0 9px;
    }
  }

  .user-panel {
    .dx-list-item .dx-icon {
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.87);
      margin-right: 16px;
    }
    .dx-rtl .dx-list-item .dx-icon {
      margin-right: 0;
      margin-left: 16px;
    }
  }
}

.dx-toolbar-items-container
{
  height: 45px !important;
  padding-top: 4px;
}

.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
  padding: 5px;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td{
  padding-top: 10px;
  padding-bottom: 10px;
}

.dx-texteditor-input {
  font-size: 13px !important;
}

.dx-popup-content{
  padding: 0px !important;
}

.dx-texteditor-input-container{
  padding: 0px 10px;
}

.dx-field-value {

}