.single-card {
  width: 100%;
  height: 100%;
  display: flex;

}

.single-card.dx-card {
  width: 75%;
  margin: auto auto;

  .screen-x-small & {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    border: 0;
  }  
  
  .content {
    padding: 40px;
  }
  .page-bg{
    background: url("../../assets/img/bg_login.jpg") no-repeat #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
