@import "../../themes/generated/variables.base.scss";

.footer {
  //display: block;
  //color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  //border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 11px;
  vertical-align: middle;
  color: #e0e0e0;
  //margin-right: 16px;
  float: right;
  direction: rtl;
  background-color: #515159;
}
